@import "./variables";
@import "./components/arrows";
@import "./components/buttons";
@import "./components/colors-section";
@import "./components/select-section";
@import "./components/drag-notes";
@import "./pages/page";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}